<%= form_with(model: movie, html: { class: 'movie-form' }) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'field-label' %>
    <%= form.text_field :title, class: 'field-input' %>
  </div>

  <div class="field">
    <%= form.label :rating, class: 'field-label' %>
    <%= form.text_field :rating, class: 'field-input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'field-label' %>
    <%= form.text_field :description, class: 'field-input' %>
  </div>

  <div class="field">
    <%= form.label :release_date, class: 'field-label' %>
    <%= form.text_field :release_date, class: 'field-input' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
